* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Montserrat;
}


/* Navebar */

.navbar {
    display: grid;
    grid-template-columns: 1fr .5fr 3fr 1fr;
    align-items:center;
    background-color: #000000;
    height: auto;
  }
  
.grow-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: -80px;
  }

.grow-list ul li {
    list-style: none;
    margin: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .button-small {
    background: #bb0cc4;
    border-radius: 6px;
    border: none;
    width: 130px;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .logo {
    cursor: pointer;
    width: 90px;
    margin-left: 65px;
    
  }

  .line {
    width: 10px;
    height: 40px;
    border-left: 1px solid #919191;
  }

  .grow-list ul :first-child::after {
    content: "∨";
    color: #ffffff;
    padding-left: 15px;
    
  }

  /* Hero section */

.hero {
    background-image: url("assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-heading {
    font-size: 64px;
    color: #ffffff;
    width: 55vw;
    text-align: center;
    margin-top: 21vh;
    font-family: Montserrat;
}

.hero-description {
    font-size: 26px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 70px;
    margin-top: 0px;
}

.button-large {
  background: #bb0cc4;
  border-radius: 6px;
  border: none;
  width: 350px;
  height: 65px;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 300px;
}